<div class="container">
  <div class="row">

    <div class="col-lg-12 col-xs-12 col-sm-12">
      <div class="top">
        <div class="top-image-text">Let's sharepe</div>
      </div>
    </div>

    <div class="col-xs-12 col-lg-4">
      <div class="contents">
        <div class="content roulette">
          <div class="content-text">
            <span>[roulette]<br>~レシピルーレット~</span>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-lg-4">
      <div class="contents">
        <div class="content about">
          <div class="content-text">
            <span>[about]<br>~sharepe~</span>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-lg-4">
      <div class="contents">
        <div class="content recipe">
          <div class="content-text">
            <span>[Recipe]<br>~レシピの共有~</span>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>


